<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{page.PageTitle? page.PageTitle + ' - ' + page.AppName: page.AppName}</title>
    
    <!--#include "../_partials/head.html" -->
</head>
<body class="theme-pista">
    <div className="page">
        <div className="page-wrapper">
            <!--#include "../_partials/header.html" -->
            
            <div className="page-body">
                <div className="container-xl">
                    <div className="row row-cards">
                        <div className="col-12">
                            <main>{children}</main>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--#include "../_partials/footer.html" -->
        </div>
    </div>
</body>
</html>